<!-- 
1.In the form if you declare div then it becomes the last position
2.div ng-container difference by creating dynamic Controls within the Form tag
3.createEmbeddedView is applicable only when you defined read property

<ng-conatiner #_______ ></ng-conatiner>
<ng-template #_______ ></ng-template> 
<div #________></div> 

-->

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form>
                        <!-- <ng-content select="div"></ng-content> -->

                        <!-- Here if you mentaion the ng-container then you can get the good result . right now div is binding some where else -->
                        <div #LoginChildControlsContainer>
                        </div>
                        <div #conatiner1>
                        </div>
                        <div class="custom-control custom-checkbox mb-3" #Password>
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </form>
                    <!-- If you write div here you can get the error -->
                    <!-- templateRef.createEmbeddedView is not a function Incase its div tag-->
                    <ng-template #templateForm>
                        <div class="form-group" #FormControls>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                required autofocus>
                        </div>
                        <div class="form-group" #FormControls>
                            <input type="text" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                    </ng-template>
                    <ng-template #temp2> Second template Executed </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>